.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.Form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Comment-Item {
  margin: 0.5em;
  text-align: left;
}
